<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<depends plugin-name="es.udc.cartolab.gvsig.tools"/>
	<depends plugin-name="es.udc.cartolab.gvsig.epanet"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>

	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
	
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.InitializeExtension" active="true">
		</extension>

		<extension class-name="es.udc.cartolab.gvsig.fonsagua.FormsGeneralMenuExtension" active="true">

			<menu text="fonsagua_forms_menu/inventario/abastecimientos/abastecimientos"
				action-command="abastecimientos"
				position="30001"/>
				<menu text="fonsagua_forms_menu/inventario/abastecimientos/captaciones"
				action-command="captaciones"
				position="30002"/>
			<menu text="fonsagua_forms_menu/inventario/abastecimientos/dep_distribucion"
				action-command="dep_distribucion"
				position="30003"/>
			<menu text="fonsagua_forms_menu/inventario/abastecimientos/dep_intermedios"
				action-command="dep_intermedios"
				position="30004"/>
			<menu text="fonsagua_forms_menu/inventario/abastecimientos/tuberias"
				action-command="tuberias"
				position="30005"/>
			<menu text="fonsagua_forms_menu/inventario/abastecimientos/bombeos"
				action-command="bombeos"
				position="30006"/>

			<menu text="fonsagua_forms_menu/inventario/comunidades/comunidades"
				action-command="comunidades"
				position="30001"/>
			<menu text="fonsagua_forms_menu/inventario/comunidades/puntos_viviendas"
				action-command="puntos_viviendas"
				position="30002"/>
			<menu text="fonsagua_forms_menu/inventario/comunidades/centros_educativos"
				action-command="centros_educativos"
				position="30003"/>
			<menu text="fonsagua_forms_menu/inventario/comunidades/centros_salud"
				action-command="centros_salud"
				position="30004"/>
			<menu text="fonsagua_forms_menu/inventario/comunidades/otros_servicios"
				action-command="otros_servicios"
				position="30005"/>
			<menu text="fonsagua_forms_menu/inventario/comunidades/amenazas"
				action-command="amenazas"
				position="30006"/>
			<menu text="fonsagua_forms_menu/inventario/comunidades/areas_potenciales_riego"
				action-command="areas_potenciales_riego"
				position="30007"/>
			<menu text="fonsagua_forms_menu/inventario/comunidades/fuentes_contaminacion"
				action-command="fuentes_contaminacion"
				position="30008"/>

			<menu text="fonsagua_forms_menu/inventario/fuentes"
				action-command="fuentes"
				position="30001"/>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.FormsAlternativeMenuExtension" active="true">
			<menu text="fonsagua_forms_menu/alternativas/elementos/alt_conexiones"
				action-command="alt_conexiones"
				position="30001"/>
			<menu text="fonsagua_forms_menu/alternativas/elementos/alt_tuberias"
				action-command="alt_tuberias"
				position="30002"/>
			<menu text="fonsagua_forms_menu/alternativas/elementos/alt_fuentes"
				action-command="alt_fuentes"
				position="30003"/>
			<menu text="fonsagua_forms_menu/alternativas/elementos/alt_depositos"
				action-command="alt_depositos"
				position="30004"/>
			<menu text="fonsagua_forms_menu/alternativas/elementos/alt_bombeos"
				action-command="alt_bombeos"
				position="30005"/>
			<menu text="fonsagua_forms_menu/alternativas/elementos/alt_valvulas"
				action-command="alt_valvulas"
				position="30006"/>
			<menu text="fonsagua_forms_menu/alternativas/elementos/alt_embalses"
				action-command="alt_embalses"
				position="30006"/>
			<menu text="fonsagua_forms_menu/alternativas/datos_alternativa"
				action-command="alternativas"
				position="30001"/>
		</extension>



		<extension class-name="es.udc.cartolab.gvsig.fonsagua.OpenGeneralExtension" active="true">
			<tool-bar name="fonsagua" position="30">
				<action-tool icon="open_general" tooltip="open_general" action-command="open_general"
					position="1" />
			</tool-bar>
			<menu text="fonsagua_tools_menu/maps/open_general"
				action-command="open_general"
				position="31001"/>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.OpenAllAlternativesExtension" active="true">
			<tool-bar name="fonsagua" position="30"> 
				<action-tool icon="open_all_alternatives" tooltip="open_all_alternatives" action-command="open_all_alternatives"
					position="2" />
			</tool-bar>
			<menu text="fonsagua_tools_menu/maps/open_all_alternatives"
				action-command="open_all_alternatives"
				position="31002" />
		</extension>
		
		
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.FormsExtension" active="true">
			<tool-bar name="fonsagua" position="30"> 
				<action-tool icon="forms-icon" tooltip="open_form" action-command=""
					position="4" />
			</tool-bar>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.FormPointExtension" active="true">
			<tool-bar name="fonsagua" position="30"> 
				<selectable-tool icon="form-point" tooltip="form-point" action-command="" 
					position="5" />
			</tool-bar>
		</extension>
		
		
			
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.NewAlternativeExtension" active="true">
			<tool-bar name="fonsagua" position="30"> 
				<action-tool icon="new_alternative" tooltip="new_alternative" action-command="new_alternative"
					position="7" />
			</tool-bar>
			<menu text="fonsagua_tools_menu/alternatives/new_alternative"
				action-command="new_alternative"
				position="31031"/>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.OpenAlternativeExtension" active="true">
			<tool-bar name="fonsagua" position="30"> 
				<action-tool icon="open_alternative" tooltip="open_alternative" action-command="open_alternative"
					position="8" />
			</tool-bar>
			<menu text="fonsagua_tools_menu/alternatives/open_alternative"
				action-command="open_alternative"
				position="31032"/>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.AlternativePriorExtension" active="true">
			<tool-bar name="fonsagua" position="30"> 
				<action-tool icon="alternative_prior" tooltip="priorization" action-command="alternative_prior"
					position="9" />
			</tool-bar>
			<menu text="fonsagua_tools_menu/alternatives/priorization"
				action-command="alternative_prior"
				position="31037"/>
        </extension> 
				
        <extension class-name="es.udc.cartolab.gvsig.fonsagua.AlternativePreferencesExtension" active="true">
        	<tool-bar name="fonsagua2" position="36"> 
        		<action-tool icon="alternative_preferences" tooltip="alternative_preferences" action-command="alternative_preferences"
					position="1" />
			</tool-bar>
			<menu text="fonsagua_tools_menu/alternatives/alternative_preferences"
				action-command="alternative_preferences"
				position="31033"/>
        </extension>
        
        <extension class-name="es.udc.cartolab.gvsig.fonsagua.PredesignExtension" active="true">
        	<tool-bar name="fonsagua2" position="36"> 
        		<action-tool icon="predesign" tooltip="predesign" action-command="predesign"
        		position="2" />
        	</tool-bar>
        	<menu text="fonsagua_tools_menu/alternatives/predesign"
				action-command="predesign"
				position="31035"/>
        </extension>
        
        <extension class-name="es.udc.cartolab.gvsig.fonsagua.AlternativeBudgetExtension" active="true">
			<tool-bar name="fonsagua2" position="36"> 
				<action-tool icon="alternative_budget" tooltip="alternative_budget" action-command="alternative_budget"
        			position="3" />
        	</tool-bar>
			<menu text="fonsagua_tools_menu/alternatives/alternative_budget"
					action-command="alternative_budget"
					position="31036"/>
        </extension>
        
        <extension class-name="es.udc.cartolab.gvsig.fonsagua.GenerateCommunityReportExtension" active="true">
       		<tool-bar name="fonsagua2" position="36"> 
        		<action-tool icon="generate_community_report" tooltip="community_report_tooltip" action-command="generate_community_report"
        		position="4" />
        	</tool-bar>
			<menu text="reports/community"
				action-command="genereate_community_report"
				position="32001"/>
		</extension>
        
        <extension class-name="es.udc.cartolab.gvsig.fonsagua.GenerateAlternativeReportExtension" active="true">
        	<tool-bar name="fonsagua2" position="36"> 
        		<action-tool icon="generate_alternative_report" tooltip="alternative_report_tooltip" action-command="generate_alternative_report"
        		position="5" />
        	</tool-bar>	
			<menu text="reports/alternative"
				action-command="generate_alternative_report"
				position="32002"/>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.AlternativeBudgetReportExtension" active="true">
        	<tool-bar name="fonsagua2" position="36"> 
        		<action-tool icon="alternative_budget_report" tooltip="alternative_budget_report_tooltip" action-command="alternative_budget_report"
        		position="6" />
        	</tool-bar>	
			<menu text="reports/alternative_budget_report"
				action-command="alternative_budget_report"
				position="32003"/>
		</extension>
	
		
		<extension class-name="es.udc.cartolab.gvsig.fonsagua.AutoFormsExtension" active="true">
			<tool-bar name="fonsagua3" position="5000"> 
				<selectable-tool icon="auto-forms" tooltip="enable_auto_forms"
					action-command="auto-forms" position="110" name="auto-forms" />
			</tool-bar>
		</extension>

		<extension class-name="es.udc.cartolab.gvsig.fonsagua.EmptyExtension" active="true">
		<!-- Workaround to allow activate and deactivate the autoforms extensions button -->
			<tool-bar name="fonsagua3" position="5000">
				<selectable-tool icon="auto-forms" tooltip="disable_auto_forms" 
				action-command="empty" position="110" name="auto-forms" />
			</tool-bar>
        </extension>   
		
	</extensions>
</plugin-config>
